<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Iphone 14 plus</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/images/iPhone-14-plus.jpg" style="width: 100px; height: 100px;"/>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="pay()">
      Buy it for $999
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Iphone 14 plus</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="assets/images/iPhone-14-plus.jpg" style="width: 100px; height: 100px;"/>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="pay()">
      Buy it for $999
    </button>
  </mat-card-actions>
</mat-card>
